.partnersList{
  .partnersList-item{
    &:nth-child(2), &:nth-child(4){
      margin-top: 135px;
    }
  }
}

@media only screen and (max-width: 1259px){
  .partnersList{
    .partnersList-item{
      &:nth-child(2), &:nth-child(4){
        margin-top: 105px;
      }
    }
  }
}