@import '../../assets/sass/variables';

.sidebar{
  &-heading{
    color: $brand-color2;
    padding-bottom: 25px;
  }
  &-block{
    background-color: rgba($grey-light-color, 0.5);
    padding: 30px 20px 50px;
    margin-bottom: 20px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
.meetings{
  &-list{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      margin-bottom: 35px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  &-date{
    padding-bottom: 5px;
  }
}


