.header {
  height: var(--header-height);
  position: sticky;
  top: 0;
}
.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border-bottom: 1px solid var(--grey-light-color);
}
.header nav {
  list-style: none;
  display: flex;
  max-width: 100%;
  box-sizing: border-box;
  flex-flow: row wrap;
}

.header nav ul {
  display: flex;
  max-width: 100%;
  box-sizing: border-box;
  flex-flow: row wrap;
}
.header nav ul li {
  padding: 0;
  box-sizing: border-box;
  flex-shrink: 0;
  margin-right: 25px;
}
.header nav ul li:first-of-type {
  margin-left: 0;
}

.header nav ul li:last-of-type {
  margin-right: 0;
}
.header nav ul li a {
  color: var(--black-color);
  text-decoration: none;
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid transparent;
  box-sizing: border-box;
  padding: 4px 20px 0;
  transition: 0.2s;
}
.header nav ul li.selected a {
  border-color: var(--brand-color1);
}
.header nav ul li a:focus {
  outline: none;
  background-color: var(--grey-light-color);
  border-color: var(--brand-color1);
  text-decoration: none;
  transition: 0.2s;
}
.header nav ul li a:hover {
  outline: none;
  background-color: var(--grey-light-color);
  transition: background-color 0.2s;
  cursor: pointer;
}
