@import '../../variables';

.header {
  height: $header-height;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 300;
  background-color: $white-color;
  &-logo{
    .logo-img{
      display: block;
      .logo-letter{
        fill: $white-color;
        transition: fill 0.3s;
      }
      .logo-bg{
        fill: $brand-color1;
        transition: fill 0.3s;
      }
    }
    &:focus{
      outline: none;
    }
    &:hover .logo-img {
      .logo-letter{
        fill: $brand-color1;
      }
      .logo-bg{
        fill: $white-color;
      }
    }
    @media only screen and (max-width: 991px) {
      width: 145px;
      .logo-img{
        width: 100%;
        height: auto;
      }
    }
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border-bottom: 1px solid $grey-light-color;
    @media only screen and (max-width: 991px){
      border-bottom: none;
    }
  }
  &-burger{
    width: 20px;
    height: 20px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    span{
      width: 100%;
      height: 2px;
      background-color: $white-color;
      transition: all .2s cubic-bezier(.08,.81,.87,.71);
    }
    &.open{
      span:nth-child(1){
        transform: translateY(5px) rotate(45deg);
      }
      span:nth-child(2){
        transform: translateX(30px);
      }
      span:nth-child(3){
        transform: translateY(-5px) rotate(-45deg);
      }
    }
    @media only screen and (min-width: 992px){
      display: none;
    }
  }
  &-nav {
    list-style: none;
    display: flex;
    max-width: 100%;
    box-sizing: border-box;
    flex-flow: row wrap;
    @media only screen and (max-width: 991px){
      position: fixed;
      left: -300px;
      bottom:0;
      height: calc(100vh - 56px); //header height
      z-index: 300;
      width: 300px;
      background-color: $brand-color1;
      transition: 0.5s;
      &.open{
        left: 0;
      }
    }
    @media only screen and (max-width: 575px){
      width: 100%;
    }
  }
  &-menu {
    display: flex;
    max-width: 100%;
    box-sizing: border-box;
    flex-flow: row wrap;
    .menu-item {
      padding: 0;
      box-sizing: border-box;
      flex-shrink: 0;
      margin-right: 25px;
      position: relative;
      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        margin-right: 0;
      }
      @media only screen and (max-width: 1259px) {
        margin-right: 0;
      }
      @media only screen and (max-width: 991px){
        width: 100%;
      }
    }
    .menu-dropdown{
      svg{
        margin-left: 10px;
      }
      &:hover{
        .submenu{
          transform: scale(1);
        }
      }
    }
    .menu-link{
      color: $black-color;
      text-decoration: none;
      height: $header-height;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 4px solid transparent;
      box-sizing: border-box;
      padding: 4px 20px 0;
      transition: 0.2s;
      &:focus {
        outline: none;
        background-color: $grey-light-color;
        border-color: $brand-color1;
        text-decoration: none;
        transition: 0.2s;
      }
      &:hover {
        outline: none;
        background-color: $grey-light-color;
        transition: background-color 0.2s;
        cursor: pointer;
      }
      &.selected{
        border-color: $brand-color1;
      }
      @media only screen and (max-width: 1259px) {
        height: 56px;
      }
      @media only screen and (max-width: 991px){
        color: $white-color;
        padding: 0 50px;
        border-bottom: none;
        justify-content: center;
        &:hover, &:focus{
          background-color: rgba($black-color, 0.1);
          color: $white-color;
        }
      }
    }
    .submenu{
      position: absolute;
      top: 50px;
      left: 20px;
      width: 150px;
      list-style: none;
      margin: 0;
      padding: 5px 0;
      transition: 0.2s;
      background-color: $white-color;
      transform: scale(0);
      transform-origin: 0 0;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      border-radius: 2px;
    }
    .submenu-link{
      padding: 8px 15px;
      display: block;
      text-transform: none;
      font-weight: 400;
      &:hover, &:focus{
        outline: none;
        color: $black-color;
        background-color: $grey-light-color;
        transition: background-color 0.2s;
        cursor: pointer;
      }
    }
    @media only screen and (max-width: 991px){
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      padding: 20px 0;
      span.menu-link{
        display: none;
      }
      .submenu{
        position: static;
        background: transparent;
        box-shadow: none;
        transform: scale(1);
        width: 100%;
        padding: 0;
        &-link{
          width: 100%;
          color: #ffffff;
          padding: 0 50px;
          border-bottom: none;
          justify-content: center;
          text-transform: uppercase;
          height: 56px;
          font-weight: 500;
          line-height: 56px;
          text-align: center;
          &:hover, &:focus{
            background-color: rgba($black-color, 0.1);
            color: $white-color;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 1259px) {
    height: 56px;
  }
  @media only screen and (max-width: 991px){
    background-color: $brand-color1;
  }
}

.overlay{
  display: none;
  @media only screen and (max-width: 991px) {
    &.open{
      display: block;
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: -1;
      height: calc(100vh - 56px);
      width: 100%;
      background-color: rgba($black-color, 0.5);
    }
  }
}