@import '../../assets/sass/variables';

.simpleCard{
  text-align: center;
  &-imgWrapper{
    width: 100%;
    img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  h4{
    color: $brand-color1;
  }
}

@media only screen and (max-width: 991px){
  .simpleCard{
    margin-bottom: 30px;
  }
}