@import '../../assets/sass/variables';

.gameCard{
  display: block;
  text-decoration: none;
  color: $black-color;
  transition: 0.2s;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  &-img{
    overflow: hidden;
    position: relative;
    height: 100%;
    & > img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.2s;
    }
    &:after{
      content: "";
      position: absolute;
      bottom: 0;
      height: 80px;
      width: 100%;
      background: linear-gradient(360deg, #15495D 0%, rgba(21, 73, 93, 0) 100%);
      transition: 0.2s;
    }
  }
  &-description{
    min-height: 84px;
  }
  &-overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: 0.2s;
  }
  &-content{
    background-color: $white-color;
    padding: 20px;
  }
  &-title{
    padding-bottom: 25px;
    line-height: 20px;
  }
  &-meta{
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    z-index: 10;
  }
  &-name{
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: $white-color;
  }
  &-icon{
    display: inline-block;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  &-platforms{
    margin: 25px 0 60px;
    a{
      margin: 0 5px;
      display: inline-block;
      transition: 0.2s;
      img{
        width: 120px;
      }
      &:hover{
        transform: scale(1.05);
      }
    }
  }
  &:hover{
    text-decoration: none;
    cursor: pointer;
    .gameCard-img{
      & > img{
        transform: scale(1.05);
      }
    }
    .gameCard-overlay{
      display: flex;
    }
  }
  &--secret{
    .gameCard-img:after{
      display: none;
    }
  }
}

@media only screen and (max-width: 1259px){
  .gameCard{
    &-title{
      padding-bottom: 15px;
    }
    &-overlay{
      display: flex;
    }
  }
}