@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,900|Roboto:300i,400,400i,500&display=swap");

$brand-color1: #F5842D;
$brand-color2: #15495D;
$white-color: #ffffff;
$grey-light-color: #eeeeee;
$grey-medium-color: #C3C3C3;
$grey-color: #757575;
$black-color: #333333;
$link-color: #1E7698;
$error-color: #EA4335;
$success-color: #36C53C;

$primary-font: 'Roboto', sans-serif;
$heading-font: 'Poppins', sans-serif;

$header-height: 72px;

//grid
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1260px,
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1200px,
);