.logo{
    text-decoration: none;
    outline: none;
    display: inline-block;
}
.logo-img{
    display: block;
}
.logo-img .logo-letter{
    fill: var(--white-color);
    transition: fill 0.3s;
}
.logo-img .logo-bg{
    fill: var(--brand-color1);
    transition: fill 0.3s;
}
.logo:focus{
    outline: none;
}
.logo:hover .logo-img .logo-letter{
    fill: var(--brand-color1);
}
.logo:hover .logo-img .logo-bg{
    fill: var(--white-color);
}