@import '../../variables';

.socialBlock{
  background: rgba($grey-light-color, 0.5);
  padding: 0 45px;
  height: 100%;
  min-height: 388px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  &-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    li{
      a{
        border: 6px solid $white-color;
        display: block;
        border-radius: 50%;
        transition: 0.2s;
        &:hover{
          transform: scale(1.1);
        }
      }
    }
  }
  &-title{
    color: $brand-color2;
    padding-bottom: 30px;
  }
  &-subtitle{
    padding-bottom: 30px;
  }
  &--company{
    height: 330px;
    min-height: 0;
  }
}

@media only screen and (max-width: 1259px){
  .socialBlock{
    padding: 0 25px;
  }
}