@import '../../assets/sass/variables';

.newsCard{
  background: #FFFFFF;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  transition: 0.2s;
  &-img{
    overflow: hidden;
    display: block;
    cursor: pointer;
    height: 192px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.2s;
    }
  }
  &-content{
    padding: 20px 15px 30px;
  }
  &-date{
    color: $brand-color1;
    padding-bottom: 15px;
  }
  &-title{
    padding-bottom: 25px;
    min-height: 100px;
  }
  &-link{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 1;
    transition: 0.2s;
    svg{
      margin-left: 10px;
      transition: 0.2s;
    }
    &:hover{
      color: $brand-color1;
      svg{
        transform: translateX(15px);
      }
    }
  }
  &:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    .newsCard-img{
      img{
        transform: scale(1.05);
      }
    }
    .newsCard-link{
      transform: translateX(5px);
    }
  }
}