@import '../../variables';

.basicBlock{
  position: relative;
  padding-bottom: 50px;
  h1, h2{
    span{
      color: $brand-color1;
    }
  }
  &-img{
    margin-right: 30px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  p{
    padding-bottom: 10px;
    max-width: 480px;
  }
  &-category{
    letter-spacing: 0.02em;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    font-family: $primary-font;
    color: $brand-color2;
    text-transform: uppercase;
  }
}
.partnerUpBlock{
  .basicBlock-img:before{
    left: auto;
    right: -25px;
    top: -25px;
  }
}

.publishersBlock{
  &:before{
    top: -290px;
    left: -260px;
    background-image: url("data:image/svg+xml,%3Csvg width='780' height='1321' viewBox='0 0 780 1321' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M660.664 366.555C719.501 276.677 643.862 137.406 540.956 49.685C402.715 -68.1561 122.887 154.61 143.802 392.075C164.717 629.54 234.559 844.699 273.456 724.685C399.106 336.995 538.85 552.633 660.664 366.555Z' fill='%23F5842D'/%3E%3Cpath opacity='0.5' d='M779.052 607.356C779.052 348.355 463.052 395.733 319.052 251.733C125.608 58.2896 -2.94824 224.855 0.0517578 583.855C3.05176 942.855 124.32 1461.01 197.067 1285.49C432.067 718.487 779.052 848.689 779.052 607.356Z' fill='%23EEEEEE'/%3E%3C/svg%3E%0A");
    height: 1321px;
    width: 780px;
    @media only screen and (max-width: 1500px) {
      left: -340px;
    }
  }
}

.advertisersBlock{
  &:before{
    top: -480px;
    left: -240px;
    background-image: url("data:image/svg+xml,%3Csvg width='900' height='1535' viewBox='0 0 900 1535' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.5' d='M891.148 821.136C891.148 562.135 575.149 609.514 431.149 465.514C237.705 272.07 109.148 438.636 112.148 797.636C115.148 1156.64 236.417 1674.79 309.164 1499.27C544.164 932.267 891.149 1062.47 891.148 821.136Z' fill='%23EEEEEE'/%3E%3Cpath d='M570.098 616.957C677.522 616.957 846.097 525.178 846.097 389.957C846.098 194.457 622.919 33.2325 395.239 103.863C167.559 174.494 -36.4266 407.028 89.0972 419.681C359.097 446.898 359.098 616.957 570.098 616.957Z' fill='%23F5842D'/%3E%3C/svg%3E%0A");
    height: 1535px;
    width: 900px;
    @media only screen and (max-width: 1500px) {
      left: -470px;
    }
  }
}

.developersBlock{
  &:before{
    top: -480px;
    left: -470px;
    background-image: url("data:image/svg+xml,%3Csvg width='952' height='1327' viewBox='0 0 952 1327' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M455.754 1205.43C562.254 899.934 773.753 888.656 773.754 753.434C773.755 618.213 522.256 560.934 361.754 637.934C146.824 741.046 -78.6482 771.484 46.7313 785.495C451.753 830.756 382.544 1415.44 455.754 1205.43Z' fill='%23F5842D'/%3E%3Cpath opacity='0.5' d='M951.305 467.613C951.305 208.612 635.305 255.991 491.305 111.991C297.861 -81.453 169.754 -33.0658 172.754 325.934C175.754 684.934 344.805 791.934 497.754 791.934C584.754 791.934 951.305 708.946 951.305 467.613Z' fill='%23EEEEEE'/%3E%3C/svg%3E%0A");
    height: 1327px;
    width: 952px;
    @media only screen and (max-width: 1500px) {
      left: -510px;
    }
  }
}

.publishersBlock2{
  padding-top: 60px;
  padding-bottom: 90px;
  &:before{
    background-image: url("data:image/svg+xml,%3Csvg width='1105' height='888' viewBox='0 0 1105 888' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M605.524 95.3091C792.906 -15.4629 821.009 310.553 969.244 396.175C1168.38 511.196 1061.13 651.831 769.043 727.485C476.953 803.139 29.9251 817.365 156.584 720.106C565.739 405.923 424.548 202.295 605.524 95.3091Z' fill='%23F5842D'/%3E%3C/svg%3E%0A");
    width: 1105px;
    height: 888px;
    top: -150px;
    left: -520px;
    @media only screen and (max-width: 1500px){
      left: -780px;
    }
  }
  .basicBlock-img:before{
    left: -50px;
    top: auto;
    bottom: -75px;
  }
}

@media only screen and (max-width: 1259px){
  .basicBlock{
    &-category{
      padding-bottom: 10px;
    }
    h1{
      padding-bottom: 15px;
    }
    p{
      padding-bottom: 20px;
    }
  }
  .publishersBlock{
    &:before{
      left: -460px;
    }
  }
  .publishersBlock2{
    padding: 50px 0;
    &:before{
      display: none;
    }
    .basicBlock-img{
      &:before{
        bottom: auto;
        left: auto;
        right: -40px;
        top: -40px;
      }
    }
  }
  .advertisersBlock{
    &:before{
      left: -620px;
    }
  }
  .developersBlock{
    &:before{
      left: -660px;
    }
  }
}
@media only screen and (max-width: 991px){
  .advertisersBlock:before{
    display: none;
  }
  .basicBlock{
    text-align: center;
    &-img{
      margin-bottom: 40px;
      margin-right: 0;
      img{
        margin: 0 auto;
      }
    }
    h2{
      padding-bottom: 20px;
    }
    p{
      padding-bottom: 40px;
    }
  }
}
@media only screen and (max-width: 575px){
  .basicBlock{
    p br{
      display: none;
    }
  }
  .developersBlock:before{
    display: none;
  }
}