.managerList{
  .managerCard{
    &:nth-child(odd){
      .row{
        flex-direction: row-reverse;
      }
      .managerCard-linkedin{
        left: 60px;
      }
    }
    &:nth-child(even){
      .managerCard-linkedin{
        right: 60px;
      }
    }
  }
}

@media only screen and (max-width: 991px){
  .managerList{
    .managerCard{
      text-align: center;
      margin-bottom: 80px;
      &:nth-child(odd), &:nth-child(even){
        .row{
          flex-direction: column-reverse;
        }
      }
      &-photoWrapper{
        margin-bottom: 40px;
      }
    }
  }
}

@media only screen and (max-width: 575px){
  .managerList{
    .managerCard{
      &:nth-child(odd) .managerCard-linkedin{
        left: 20px;
      }
      &:nth-child(even) .managerCard-linkedin{
        right: 20px;
      }
    }
  }
}