.faq{
  padding-top: 145px;
  padding-bottom: 70px;
  &-heading{
    text-align: center;
    padding-bottom: 60px;
  }
}

@media only screen and (max-width: 1259px){
  .faq{
    padding-top: 50px;
    &-heading{
      padding-bottom: 40px;
    }
  }
}