@import '../../assets/sass/variables';

.hotPanel{
  transform: rotate(-90deg);
  position: fixed;
  right: -144px;
  top: 33%;
  display: flex;
  z-index: 149;
  button{
    font-family: $primary-font;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    background-color: $white-color;
    height: 46px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    letter-spacing: 0.02em;
    border-radius: 2px;
    text-transform: uppercase;
    margin-right: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
    &.hotPanel-positions{
      padding-left: 10px;
      position: relative;
      width: 190px;
      .hotPanel-positionsCounter{
        background-color: $brand-color1;
        color: $white-color;
        display: inline-block;
        padding: 5px 10px;
        border-radius: 2px;
        margin-right: 10px;
      }
      .hotPanel-positionsBadge{
        position: absolute;
        width: 100%;
        background-color: $white-color;
        right: 0;
        top: 300px;
        height: 300px;
        border-radius: 2px;
        transition: 0.5s;
        color: $black-color;
        text-decoration: none;
        .hotPanel-positionsInfo{
          transform: rotate(90deg);
          text-align: left;
          position: absolute;
          left: 10px;
          top: 50px;
        }
        .hotPanel-positionsCounter{
          margin-right: 0;
          border-radius: 0;
          padding: 10px 19px;
          margin-bottom: 20px;
          line-height: 1;
        }
        svg{
          transform: rotate(90deg);
          position: absolute;
          bottom: -25px;
          right: 0;
        }
      }
      &:hover{
        .hotPanel-positionsBadge{
          top: -260px;
        }
      }
    }
    &:focus{
      outline: none;
    }
  }
  @media only screen and (max-width: 991px){
    display: none;
  }
}