@import '../../variables';

.gameCard{
  display: block;
  text-decoration: none;
  transition: 0.2s;
  color: $black-color;
  &:hover{
    text-decoration: none;
    cursor: pointer;
    .gameCard-img{
      img{
        transform: scale(1.05);
      }
    }
  }
  &-img{
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.2s;
    }
  }
  &-content{
    background-color: $white-color;
    padding: 20px;
  }

  &-title{
    padding-bottom: 25px;
    line-height: 20px;
  }
}