@import '../../variables';

.gameCard{
  display: block;
  text-decoration: none;
  color: $black-color;
  transition: 0.2s;
  &:hover{
    text-decoration: none;
    cursor: pointer;
    .gameCard-img{
      & > img{
        transform: scale(1.05);
      }
    }
    .gameCard-overlay{
      display: flex;
    }
  }
  &-img{
    overflow: hidden;
    position: relative;
    & > img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.2s;
    }
  }
  &-overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: 0.2s;
  }
  &-content{
    background-color: $white-color;
    padding: 20px;
  }
  &-title{
    padding-bottom: 25px;
    line-height: 20px;
  }
  &-meta{
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
  }
  &-name{
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: $white-color;
  }
  &-icon{
    display: inline-block;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
  }
  &-platforms{
    margin: 25px 0 60px;
    a{
      margin: 0 5px;
      display: inline-block;
      transition: 0.2s;
      img{
        width: 120px;
      }
      &:hover{
        transform: scale(1.05);
      }
    }
  }
}