@import '../../assets/sass/variables';

.joinUs{
  background-color: $brand-color2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 125px 0;
  color: $white-color;
  text-align: center;
  position: relative;
  background-image: url("../../assets/images/footer/joinUsImg.jpg");
  &-title{
    padding-bottom: 90px;
  }
  &-separator{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    span{
      display: block;
      width: 13px;
      height: 13px;
      background-color: $white-color;
      margin: 0 8px;
      border-radius: 50%;
    }
  }
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($black-color, 0.5);
  }
}
.footer{
  padding-top: 70px;
  padding-bottom: 20px;
  background-color: $brand-color2;
  overflow: hidden;
  &-socials{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      display: inline-block;
      margin-right: 10px;
      width: 30px;
      height: 30px;
      &:last-child{
        margin-right: 0;
      }
      a{
        display: block;
        transition: 0.2s;
        svg{
          width: 30px;
          height: 30px;
        }
        &:hover, &:focus{
          transform: scale(1.05);
        }
      }
    }
  }
  &-copyright{
    color: $white-color;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
  }
  &-logoWrapper{
    position: relative;
    &:before{
      content: '';
      display: block;
      position: absolute;
      background-image: url("data:image/svg+xml,%3Csvg width='920' height='938' viewBox='0 0 920 938' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.1' d='M115.575 542.701C121.174 718.329 377.399 696.968 494.883 774.984C720.732 924.964 650.637 603.54 821.627 553.858C1060.4 484.481 533.768 -72.4528 497.522 54.0461C380.434 462.685 110.721 390.48 115.575 542.701Z' fill='%23EEEEEE'/%3E%3Cpath d='M684.824 621.815C715.753 545.366 549.99 467.522 491.335 377.291C403.435 242.071 9.99989 264.7 9.9998 454.5C9.99973 578 37.1186 594.345 65.4994 666.5C124.499 816.5 220.5 831.113 319.5 762.856C497.09 640.413 647.624 713.764 684.824 621.815Z' fill='white'/%3E%3C/svg%3E%0A");
      width: 920px;
      height: 938px;
      top: -590px;
      left: -430px;
    }
  }
  &-logo{
    z-index: 50;
    position: relative;
    .logo-img{
      display: block;
      .logo-letter{
        fill: $brand-color1;
      }
      .logo-bg{
        fill: transparent;
      }
    }
  }
}

.footerMenu{
  margin-bottom: 40px;
  &-item{
    padding-bottom: 15px;
    line-height: 1.14;
    text-transform: uppercase;
    font-weight: 500;
  }
  &-subitem{
    line-height: 1.5;
    text-transform: capitalize;
    font-weight: 400;
  }
  &-link, &-sublink{
    color: $white-color;
    &:hover, &:focus{
      color: $white-color;
      border-bottom: 1px solid $white-color;
    }
  }
}
.footerBottom{
  padding-top: 10px;
  padding-bottom: 25px;
  border-top: 1px solid $white-color;
  &-menu{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      display: inline-block;
      &:first-child:before{
        display: none;
      }
      &:before{
        content: '\00a0-\00a0';
        color: $white-color;
      }
      a{
        color: $white-color;
        border-bottom: 1px solid transparent;
        transition: 0.2s;
        &:hover{
          border-color: $white-color;
        }
      }
    }
  }
}

@media only screen and (max-width: 1259px) {
  .joinUs{
    padding: 50px 0;
    &-title{
      padding-bottom: 35px;
    }
    &-separator{
      padding-bottom: 35px;
    }
  }
  .footer{
    padding-top: 50px;
  }
}

@media only screen and (max-width: 991px){
  .footer{
    &-logoWrapper{
      margin-bottom: 40px;
      .logo-img{
        .logo-letter{
          fill: $white-color;
        }
      }
      &:before{
        display: none;
      }
    }
  }
  .footerMenu{
    &-subitem{
      margin: 5px 0;
    }
  }
}

@media only screen and (max-width: 767px){
  .footer{
    &-logoWrapper{
      margin-bottom: 20px;
    }
    &-socials{
      margin-top: 20px;
      margin-bottom: 30px;
      li{
        margin-right: 15px;
      }
    }
  }
  .footerMenu{
    margin-bottom: 0;
    &-wrapper{
      padding-bottom: 25px;
    }
    &-item{
      text-transform: capitalize;
      padding: 15px 0;
    }
    &-subitem{
      display: none;
    }
  }
  .games{
    &:before{
      display: none;
    }
  }
}
@media only screen and (max-width: 575px){
  .footer{
    &-logoWrapper{
      .logo{
        width: 145px;
        svg{
          width: 100%;
        }
      }
    }
  }
  .footerBottom{
    padding-bottom: 10px;
    &-menu{
      li{
        a{
          font-size: 14px;
        }
      }
    }
  }
  .participateBlock:before{
    display: none;
  }
}