@import '../../assets/sass/variables';

.positionCard{
  background: #FFFFFF;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  padding: 34px 24px;
  display: block;
  text-decoration: none;
  margin-bottom: 30px;
  transition: 0.2s;
  &-category{
    padding-bottom: 20px;
    min-height: 36px;
  }
  &-title{
    padding-bottom: 15px;
    min-height: 159px;
  }
  &-location{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 28px;
    svg{
      margin-right: 10px;
    }
  }
  &:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
}

@media only screen and (max-width: 1259px){
  .positionCard{
    &-heading{
      &:before{
        top: -30px;
        left: 140px;
      }
    }
    &-title{
      min-height: 123px;
    }
  }
}

@media only screen and (max-width: 991px){
  .positionCard{
    &-title{
      min-height: 110px;
    }
    &-list{
      padding-bottom: 0;
    }
  }
}

@media only screen and (max-width: 767px){
  .positionCard{
    &-title{
      min-height: 0;
    }
  }
}