@import '../../assets/sass/variables';

.modal{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
  &-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  &-window{
    width: 992px;
    max-width: 80%;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
  }
  &-closeBtn{
    cursor: pointer;
    border: none;
    background: none;
    position: absolute;
    display: block;
    padding: 5px;
    right: 10px;
    top: 10px;
    font-size: 30px;
    line-height: 24px;
    transition: 0.2s;
    z-index: 100;
    &:focus{
      outline: none;
    }
  }
}