@import "../../variables";
.timelineSlider {
  position: relative;
  &-dates {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid $grey-color;
  }
  &-date {
    flex-grow: 1;
    text-align: center;
    color: $grey-color;
    cursor: pointer;
    transition: 0.2s;
    line-height: 1;
    padding: 10px 5px;
    font-weight: 500;
    position: relative;
    &--active {
      color: $brand-color1;
      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 0;
        height: 4px;
        background-color: $brand-color1;
        animation: slide 4s ease-in-out;
      }
    }
    &:hover {
      background-color: $grey-light-color;
    }
  }
  &-content {
    padding: 20px;
    text-align: center;
  }
  &-dateWrapper {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: -2;
    h1 {
      font-weight: 900;
      font-size: 313.2px;
      line-height: 1;
      letter-spacing: -39.479px;
      color: $black-color;
      background: $white-color;
      mix-blend-mode: lighten;
      text-align: center;
      pointer-events: none;
      user-select: none;
    }
  }
  &-text {
    width: 370px;
    max-width: 100%;
    margin: 0 auto;
  }
  &-arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  &-arrow {
    padding: 0;
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: $brand-color2;
    transition: 0.2s;
    position: absolute;
    svg path {
      fill: $white-color;
    }
    &:hover,
    &:focus {
      background-color: darken($brand-color2, 3);
      outline: none;
    }
  }
  &-prevArrow {
    left: -100px;
  }
  &-nextArrow {
    right: -100px;
  }
}

@keyframes slide {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@media only screen and (max-width: 1500px){
  .timelineSlider{
    &-prevArrow{
      left: 0;
    }
    &-nextArrow{
      right: 0;
    }
  }
}
@media only screen and (max-width: 991px){
  .timelineSlider{
    &-arrow{
      display: none;
    }
  }
}
@media only screen and (max-width: 767px){
  .timelineSlider{
    &-date{
      width: 14%; // 2 rows with 7 items  100/7 = 14
    }
    &-dateWrapper{
      h1{
        font-size: 200px;
        letter-spacing: -19.479px;
      }
    }
  }
}
@media only screen and (max-width: 575px){
  .timelineSlider{
    &-dateWrapper{
      h1{
        font-size: 130px;
        letter-spacing: -5px;
      }
    }
  }
}