@import '../../../assets/sass/variables';


.pressKit{
  &-description{
    padding-bottom: 15px;
  }
  &-btn{
    width: 100%;
    svg{
      path{
        fill: $white-color;
      }
    }
    span{
      padding: 0 40px;
    }
  }
  &-extra{
    padding-top: 15px;
    padding-bottom: 40px;
  }
  &-question{
    padding-bottom: 20px;
  }
  &-offer{
    padding-bottom: 20px;
  }
}
.hrCard{
  margin-bottom: 45px;
  &-imgWrapper{
    width: 120px;
    height: 120px;
    min-width: 120px;
    min-height: 120px;
    border-radius: 2px;
    margin-right: 20px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}