@import '../../variables';

.pagination{
  &-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-item{
    margin-right: 8px;
    &:last-child{
      margin-right: 0;
    }
  }
  &-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid $grey-medium-color;
    transition: 0.2s;
    &:hover, &--current{
      border-color: $brand-color1;
      color: $brand-color1;
      svg path{
        fill: $brand-color1;
      }
    }
  }
}