@import "../../variables";

.sidebar{
  &-heading{
    color: $brand-color2;
    padding-bottom: 25px;
  }
  &-block{
    background-color: rgba($grey-light-color, 0.5);
    padding: 30px 20px 50px;
    margin-bottom: 20px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
.meetings{
  &-list{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      margin-bottom: 35px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  &-date{
    padding-bottom: 5px;
  }
}
.tags{
  &-list{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      display: inline-block;
      width: auto;
      padding: 5px 10px;
      border: 1px solid $grey-medium-color;
      border-radius: 2px;
      margin-right: 6px;
      margin-bottom: 10px;
      cursor: pointer;
      transition: 0.2s;
      &:hover{
        border-color: $brand-color2;
        background-color: $brand-color2;
        color: $white-color;
      }
    }
  }
}
.pressKit{
  &-description{
    padding-bottom: 15px;
  }
  &-btn{
    width: 100%;
    svg{
      path{
        fill: $white-color;
      }
    }
    span{
      padding: 0 40px;
    }
  }
}
.hrCard{
  margin-bottom: 45px;
  &-imgWrapper{
    width: 120px;
    height: 120px;
    min-width: 120px;
    min-height: 120px;
    border-radius: 2px;
    margin-right: 20px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}