@import "../../../variables";
.partnersItem{
  background: $white-color;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  width: 100%;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 20px;
  &:last-child{
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 1259px){
  .partnersItem{
    height: 210px;
  }
}
