a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
:root{
  --brand-color1: #F5842D;
  --brand-color2: #15495D;
  --white-color: #ffffff;
  --grey-light-color: #eeeeee;
  --grey-medium-color: #C3C3C3;
  --grey-color: #757575;
  --black-color: #333333;
  --link-color: #1E7698;
  --error-color: #EA4335;
  --success-color: #36C53C;

  --primary-font: 'Roboto', sans-serif;
  --heading-font: 'Poppins', sans-serif;

  --header-height: 72px;
}
html, body{
  min-width: 320px;
  overflow-x: hidden;
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.75;
  font-weight: 400;
  color: var(--black-color);
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}
.container{
  width: 1170px;
  max-width: 90%;
  margin: 0 auto;
}
.container--fluid{
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6{
  font-family: var(--heading-font);
  margin: 0;
}
h1{
  font-weight: 600;
  font-size: 54px;
  line-height: 1.2;
}
h2{
  font-size: 42px;
  line-height: 1.2;
  font-weight: 600;
}
h3{
  font-weight: 600;
  font-size: 27px;
  line-height: 1.5;
}
h4{
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
}
h5{
  font-size: 18px;
  line-height: 1.44;
  font-weight: 400;
}
h6{
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
}
.link{
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  color: var(--link-color);
  font-weight: 400;
}
.label{
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}
::placeholder{
  font-family: var(--primary-font);
  font-style: italic;
  font-size: 16px;
  line-height: 1.5;
}
::selection{
  background-color: rgba(var(--brand-color1), 0.5);
}
.caption{
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
}
.menu{
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-item{
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.menu-item--footer{
  line-height: 1.5;
  text-transform: none;
}

/*slider*/

.slider1-slide{
  position: relative;

}
.slider1-content{
  position: absolute;
  bottom: 13%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;

}
.slider1-content .slider1-title{
  color: var(--white-color);
  padding-top: 25px;
}
.slick-dots{
  bottom: 35px;
}
.slick-dots li{
  width: auto;
  height: auto;
}
.slick-dots li button{
  width: auto;
  height: auto;
  padding: 0;
}
.slick-dots li button:before{
  content: '';
  width: 16px;
  height: 8px;
  display: block;
  background-color: #ffffff;
  color: #ffffff;
  border-radius: 4px;
  transition: 0.2s ease-in-out;
  position: static;
}
.slick-dots li.slick-active button:before{
  opacity: 1;
  width: 40px;
}

/*Loader*/
.Loader{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255 ,0.75);
}