$brand-color1: #F5842D;
$brand-color2: #15495D;
$white-color: #ffffff;
$grey-light-color: #eeeeee;
$grey-medium-color: #C3C3C3;
$grey-color: #757575;
$black-color: #333333;
$link-color: #1E7698;
$error-color: #EA4335;
$success-color: #36C53C;

$primary-font: 'Roboto', sans-serif;
$heading-font: 'Poppins', sans-serif;

$header-height: 72px;