.btn{
    border: none;
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    border-radius: 2px;
    padding: 15px 35px;
    width: 226px;
    height: 56px;
    display: inline-flex;
    justify-content: center;
    /*align-items: center;*/
    cursor: pointer;
    transition: 0.2s ease-in-out;
    will-change: transform;
}
.btn:focus{
    outline: none;
}
.btn:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
    -webkit-font-smoothing: subpixel-antialiased;
}
.btn--withIcon{
    justify-content: space-between;
}
.btn--primary{
    background-color: var(--brand-color1);
    color: var(--white-color);
}
.btn--primaryInverse{
    background-color: var(--white-color);
    color: var(--brand-color1);
}
.btn--secondary{
    background-color: var(--brand-color2);
    color: var(--white-color);
}
.btn--secondaryInverse{
    background-color: var(--white-color);
    color: var(--black-color);
}