@import '../../variables';

.btn{
  border: none;
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  border-radius: 2px;
  padding: 15px 35px;
  width: 226px;
  height: 56px;
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  will-change: transform;
  box-sizing: border-box;
  text-decoration: none;
  align-items: center;
  &:focus{
    outline: none;
  }
  &:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
    -webkit-font-smoothing: subpixel-antialiased;
  }
  &--withIcon{
    justify-content: space-between;
  }
  &--primary{
    background-color: $brand-color1;
    color: $white-color;
  }
  &--primaryInverse{
    background-color: $white-color;
    color: $brand-color1;
  }
  &--secondary{
    background-color: $brand-color2;
    color: $white-color;
  }
  &--secondaryInverse{
    background-color: $white-color;
    color: $black-color;
  }
}